<div class="pane">
    <h1 class="title">Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores laudantium recusandae laboriosam quos, modi nihil, optio ex, cumque minus dicta aut cupiditate nemo ut maxime velit porro. Explicabo, at. Placeat.
    Amet repudiandae tempora vero ipsa tempore quaerat maxime neque provident distinctio natus eveniet necessitatibus, eaque fugiat iusto laboriosam fuga. Facere amet autem ducimus corrupti consectetur voluptatem magni delectus eligendi rerum.
    Ab autem fugit eum libero enim. Quas consequatur dolorum dolores saepe ad? Commodi id esse sit, praesentium, dolor numquam fugit atque exercitationem accusantium dolorem ut odio, debitis itaque modi nulla?
    Et, similique! Harum est cum, voluptas qui quod asperiores explicabo eligendi voluptates aut inventore consectetur beatae ea quaerat quibusdam. Quos repellat ipsum minus reiciendis voluptate! Doloribus iusto eligendi cupiditate aliquid?
    Exercitationem possimus expedita, quisquam magni suscipit soluta odio incidunt ratione in animi quia corrupti iste est blanditiis officia ea molestias recusandae molestiae hic fugit alias, consectetur, aliquid eos cupiditate. Atque.</p>

    <ul id="users">
        {{#each users}}
        <li class="user">{{ this }}</li>
        {{/each}}
    </ul>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, sequi.</p>

{{!-- Bonus: code a tiny client script that toggles an is-active on 
      each user's li onclick !!! --}}

</div>